<template>
<div id="app" dark>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer" app>
      <v-list dense>
        <v-list-item-group v-model="group" active-class="secondary--text text--accent-4"        >
        <v-list-item link @click="goToAdventure()">
          <v-list-item-action>
            <v-icon>fas fa-dungeon</v-icon>
          </v-list-item-action>
          <v-list-item-content >
            <v-list-item-title>Adventure</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link @click="goToMyAdventure()">
          <v-list-item-action>
            <v-icon>fas fa-hat-wizard</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>My Adventure</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link>
          <v-list-item-action>
            <v-icon>fas fa-book</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Tutorial</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link>
          <v-list-item-action>
            <v-icon>fas fa-comment-alt</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Forum</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link>
        <v-list-item-action>
            <v-icon>fas fa-shopping-bag</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Market Place</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app flat class="primary">
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title style="color:var(--v-accent-base)">Blue Flame</v-toolbar-title>
      <v-spacer></v-spacer>       
      <v-icon class="mr-6">fas fa-cog mr-6</v-icon>
      <v-icon class="mr-6">fas fa-bell mr-6</v-icon>
    </v-app-bar>

    <v-content class="primary">
      <v-container fluid fill-height> 
        <Adventures v-if="menu == 0" :iduser=id_user ></Adventures>
        <MyAdventures v-if="menu == 1" :idusuario=id_user></MyAdventures>          
        <BoardMyAventure v-if="menu == 2" :idadventure=id_adventure :idusuario=id_user></BoardMyAventure>
        <BoardAventure v-if="menu == 3" :idadventure=id_adventure></BoardAventure>
      </v-container>
    </v-content>
  </v-app>
</div>
</template>
<script>
import Adventures from '@/components/Adventures.vue'
import MyAdventures from '@/components/MyAdventures.vue'
import BoardMyAventure from '@/components/BoardMyAventure.vue'
import BoardAventure from '@/components/BoardAventure.vue'
export default {
  name: 'Board',
  components: {
    Adventures,
    MyAdventures,
    BoardAventure,
    BoardMyAventure,
  },
  data: () => ({
    drawer: null,
    group: null,
    menu: -1,
    id_user: null,
    id_adventure: null
  }),
  methods: {
    goToMyAdventure(){
      let me = this;
      me.menu = 1;
    },
    goToAdventure(){
      let me = this;
      me.menu = 0;
    },
  },
  created () {  
    let me = this;
    me.id_user = me.$route.params.idUser;
    window.event.$on('switch_menu', function(value,id_adventure){
      me.id_adventure = id_adventure;
      me.menu = value; 
    });
  }
};
</script>