<template>
  <v-container id="test" class="grey lighten-5" fluid style="width:100%; height:100% overflow:hidden;">
    <!-- Div bajo el navbar con mouse over para mostrar otras vistas-->
    <v-btn fixed dark fab top right color="secondary" style="margin-top:81px; z-index: 1;" @click="switchModeBoard()"><v-icon>{{switchMap}}</v-icon></v-btn>
    <v-hover v-slot:default="{ hover }">
      <div  style="position: absolute;top: 0;height: 1%;width: 97%;z-index:1; background-color:#424242">
        <v-expand-transition>
            <div v-if="hover" class="d-flex transition-fast-in-fast-out darken-2 v-card--reveal display-3 white--text" style="height: 2000%;background-color:#424242">
              
            </div>
          </v-expand-transition>
      </div>
    </v-hover>
    <!-- Grid cuadrada para mover fichas -->
    <div class="mt-6" id="containerSquad" style="position: absolute;top: 0;height: 95%;width: 96%;overflow:hidden;" v-show="SquadGrid == true"></div>
    <!-- Grid de hexagono para mover fichas en proceso
    <div id="containerPentagon" style="position: absolute;top: 0;height: 100%;width: 100%;" v-show="PentagonGrid == true"></div>-->
    <!-- Botones desplegables para menus -->
    <v-speed-dial v-model="fab" :top="top" :bottom="bottom" :right="right" :left="left" :direction="direction" :open-on-hover="hover" :transition="transition">
      <template v-slot:activator>
        <v-btn v-model="fab" color="secondary" fab>
          <v-icon style="color:white !important" v-if="fab">fas fa-cog</v-icon>
          <v-icon v-else style="color:white !important">fas fa-cog</v-icon>
        </v-btn>
      </template>
      <v-btn fab dark small color="secondary">
        <v-icon @click="expand_monsters = !expand_monsters" >fas fa-folder</v-icon>
      </v-btn>
      <v-btn fab dark small color="secondary">
        <v-icon @click="expand_profile = !expand_profile" >fas fa-user</v-icon>
      </v-btn>
      <v-btn fab dark small color="secondary">
        <v-icon>mdi-delete</v-icon>
      </v-btn>
    </v-speed-dial>
  </v-container>
</template>
<script>
import Vue from "vue";
import VueKonva from "vue-konva";
import axios from "axios";
import VueContext from 'vue-context';
import 'vue-context/src/sass/vue-context.scss';
import VueImg from 'v-img';
Vue.use(VueKonva);
Vue.use(VueImg);
export default {
  name: "BoardAventure",
  components: { VueContext},
  props: ['idadventure'],
  sockets: {
      update_token: function (data) {
        let me = this;
        me.token[data.index].position({ 
          x: data.x,
          y: data.y
        });
        me.token[data.index].width(data.width);
        me.token[data.index].height(data.height);
        me.stage.batchDraw();
      },
      create_token: function (data) {
        let me = this;
        me.newRectangle(data.x, data.y, data.width, data.height, me.layer, me.blockSnapSize,data.src,data.id);
        alert('test')
        /*me.token[data.index].position({ 
          x: data.x,
          y: data.y
        });
        me.token[data.index].width(data.width);
        me.token[data.index].height(data.height);
        me.stage.batchDraw();*/
      }
  },
  data: function () {  
    return {
      users: {},   
      id_adventure: this.idadventure,
      id_usuario: 1,
      id_father_folder : 0,
      id_actual_folder : 0,
      route_folder: 0,
      absolute: true,
      opacity: 0,
      overlay: true,
      zIndex: 9999,
      scale: 1.539,
      isPaint: false,
      lastLine: {},
      mode: "brush",
      layer: [],
      layerPentagon: [],
      stage: [],
      stagePentagon: [],
      SquadGrid: true,
      PentagonGrid: false,
      direction: "left",
      fab: false,
      fling: false,
      hover: false,
      tabs: null,
      top: false,
      right: true,
      bottom: true,
      left: false,
      transition: "slide-x-reverse-transition",
      tr:{},
      switchMap: 'fas fa-map',
      name_mode: 'map',
      map: {},
      expand_monsters:false,
      expand_upload_image:false,
      n_actual: -1,
      click_folder: -1,
      newNameFolder: -1,
      folders: {},
      images: {},
      myFiles: [],
      itemURL: '',
      token_index: 0,
      token: [],
      group: {},
      expand_profile: false,
      players: [],
      people: [],
      lines: [],
      blockSnapSize: 25,
      id_token: 0,
    }
  },
  methods: {
    createMap(blockSnapSize){
      let me = this;
      var objImagen1 = new Image();
      objImagen1.src = 'DWARVEN_THRONE_HALL.png';

      me.map = new Konva.Image({
        image: objImagen1,
        x: 0,
        y: 0,
        width: 800,
        height: 800,
        name: 'map'
      });
      me.group.add(me.map);       
      me.map.zIndex(0); 
      me.map.on("dragmove", e => {
        
      });
      me.map.on("dragend", e => {
        me.map.position({
          x: Math.round(me.map.x() / me.blockSnapSize) * me.blockSnapSize,
          y: Math.round(me.map.y() / me.blockSnapSize) * me.blockSnapSize
        });
        me.stage.batchDraw();
      });
      me.map.on("transformstart", e => {
        me.stage.batchDraw();
      });
      me.map.on("transformend", e => {
        var w = me.map.width() * me.map.scaleX();
        var h = me.map.height() * me.map.scaleY();
        me.map.width(Math.round(w / me.blockSnapSize) * me.blockSnapSize);
        me.map.height(Math.round(h / me.blockSnapSize) * me.blockSnapSize);
        me.map.scaleX(1);
        me.map.scaleY(1);
        me.stage.batchDraw();
      });
      me.map.on("transform", e => {
        me.stage.batchDraw();
      });
      me.stage.batchDraw();
    },
    createPentagonGrid(blockSnapSize) {
      let me = this;
      // first we need Konva core things: me.stage and layer
      me.stagePentagon = new Konva.Stage({
        container: "containerPentagon",
        width: width,
        height: height,
        
      });
      var gridPentagonLayer = new Konva.Layer();
      var padding = 88;
      var paddingh = 50;
      for (var j = 0; j < height / paddingh; j++) {
        for (var i = 0; i < width / padding; i++) {
          if (j % 2 == 0) {
            var x = i * padding + padding / 2;
          } else {
            var x = i * padding;
          }
          gridPentagonLayer.add(
            new Konva.RegularPolygon({
              x: x,
              y: 75 * j,
              stroke: "#ddd",
              strokeWidth: 1,
              sides: 6,
              radius: 50
            })
          );
        }
      }
      me.stagePentagon.add(gridPentagonLayer);
    },
    createSquareGrid(width, height, blockSnapSize) {
      let me = this;
      function getRelativePointerPosition(node) {
        // the function will return pointer position relative to the passed node
        var transform = node.getAbsoluteTransform().copy();
        // to detect relative position we need to invert transform
        transform.invert();

        // get pointer (say mouse or touch) position
        var pos = node.getStage().getPointerPosition();

        // now we find relative point
        return transform.point(pos);
      }
      // first we need Konva core things: me.stage and layer
      me.stage = new Konva.Stage({
        container: "containerSquad",
        width: width,
        height: height,
        draggable: true,
        name: 'stage'
      });
      me.layer = new Konva.Layer();
      me.stage.add(me.layer);
      me.group = new Konva.Group();
      me.layer.add(me.group);
      var con = me.stage.container();
      var scaleBy = 1.4;
      me.stage.on('wheel', e => {
        e.evt.preventDefault();
        var oldScale = me.stage.scaleX();

        var mousePointTo = {
          x: me.stage.getPointerPosition().x / oldScale - me.stage.x() / oldScale,
          y: me.stage.getPointerPosition().y / oldScale - me.stage.y() / oldScale
        };
        var newScale = e.evt.deltaY > 0 ? oldScale * scaleBy : oldScale / scaleBy;
        me.stage.scale({ x: newScale, y: newScale });

        var newPos = {
          x:
            -(mousePointTo.x - me.stage.getPointerPosition().x / newScale) *
            newScale,
          y:
            -(mousePointTo.y - me.stage.getPointerPosition().y / newScale) *
            newScale
        };
        me.stage.position(newPos);
        me.stage.batchDraw();
      });
      me.stage.on('click tap', function(e) {
        /*console.log(e.target)
        // if click on empty area - remove all transformers
        var oldScale = me.stage.scaleX();
        me.id_token = e.target;
        var mousePointTo = {
          x: me.stage.getPointerPosition().x / oldScale - me.stage.x() / oldScale,
          y: me.stage.getPointerPosition().y / oldScale - me.stage.y() / oldScale
        };
        // do nothing if clicked NOT on our rectangles
        if (e.target.hasName('stage')) {          
          me.stage.find('Transformer').destroy();
          e.target.draggable(true);
          me.layer.draw();         
          return;
        }
        if (!e.target.hasName(me.name_mode)) {          
          me.stage.find('Transformer').destroy();
          me.layer.draw();  
          e.target.draggable(false);       
          return;
        }
        // remove old transformers
        // TODO: we can skip it if current rect is already selected
        me.stage.find('Transformer').destroy();

        // create new transformer
        me.tr = new Konva.Transformer();
        me.group.add(me.tr);
        me.tr.attachTo(e.target);
        e.target.draggable(true);
        me.layer.draw();*/
      });
      me.stage.on("mousedown touchstart", function(e) {
        var oldScale = me.stage.scaleX();

        var mousePointTo = {
          x: me.stage.getPointerPosition().x / oldScale - me.stage.x() / oldScale,
          y: me.stage.getPointerPosition().y / oldScale - me.stage.y() / oldScale
        };
        me.mouseDown();
      });
      me.stage.on("mouseup touchend", function(e) {
        me.isPaint = false;
      });
      // and core function - drawing
      me.stage.on("mousemove touchmove", function() {
        me.mouseMove();
      });
      con.addEventListener('dragover', function(e) {
        e.preventDefault(); // !important
      });
      con.addEventListener('drop', function(e) {
        e.preventDefault();
        me.stage.setPointersPositions(e);
        var oldScale = me.stage.scaleX();
        var  x = me.stage.getPointerPosition().x / oldScale - me.stage.x() / oldScale;
        var  y = me.stage.getPointerPosition().y / oldScale - me.stage.y() / oldScale;
        axios.post('http://190.162.176.66:5002/api/v1.0/insertTokenBoard',{
          'id_board'    : 1,
          'src'         : me.itemURL,
          'x'           : x,
          'y'           : y,
          'width'       : 25,
          'height'      : 25,
        }).then((respuesta) =>{          
          console.log(respuesta.data['id_token'])
          me.newRectangle(x, y, 30, 30, me.layer, me.blockSnapSize,me.itemURL,respuesta.data['id_token'])
        })
        .catch((error) =>{
          console.log(error);
        })
      });
      
      var gridLayer = new Konva.Layer();
      var padding = me.blockSnapSize;
      for (var i = 0; i < 3000 / padding; i++) {
        me.lines.push(
          new Konva.Line({
            points: [
              Math.round(i * padding) + 0.5,
              0,
              Math.round(i * padding) + 0.5,
              3000
            ],//#ff5252
            stroke: "#888888",
            strokeWidth: 0.5,
            zIndex: 1
          })
        );
      }
      for (var j = 0; j < 3000 / padding; j++) {
        me.lines.push(
          new Konva.Line({
            points: [
              0,
              Math.round(j * padding),
              3000,
              Math.round(j * padding)
            ],
            stroke: "#888888",
            strokeWidth: 0.5,            
            zIndex: 1
          })
        );
      }
      for (let index = 0; index < me.lines.length; index++) {        
        me.group.add(me.lines[index])               
      }
      console.log(me.group)
      me.stage.batchDraw();
    },
    makeMistLayer() {
      let me = this;
      //Make mist for the grid
      me.lastLine = new Konva.Line({
        stroke: "rgba(255, 255, 255, 0.5)",
        strokeWidth: 5000000,
        lineCap: "round",
        globalCompositeOperation: "source-over",
        points: [0, 100]
      });
      me.layer.add(me.lastLine);
      const pos = me.stage.getPointerPosition();
      var newPoints = me.lastLine.points().concat([100, 0]);
      me.lastLine.points(newPoints);
      me.layer.batchDraw();
    },
    mouseDown() {
      let me = this;
      //me.isPaint = true;
      var pos = me.stage.getPointerPosition();
      me.lastLine = new Konva.Line({
        stroke: "#df4b26",
        strokeWidth: 50,
        lineCap: "round",
        opacity: 0.5,
        strokeScaleEnabled: false,
        globalCompositeOperation:
          me.mode === "brush" ? "source-over" : "destination-out",
        points: [pos.x, pos.y]
      });
      me.layer.add(me.lastLine);
    },
    mouseMove(event) {
      let me = this;
      if (!me.isPaint) {
        return;
      }
      const pos = me.stage.getPointerPosition();
      var newPoints = me.lastLine.points().concat([pos.x, pos.y]);
      me.lastLine.points(newPoints);
      me.layer.batchDraw();
    },
    mouseUp(event) {
      let me = this;
      me.mousedown = false;
    },
    newRectangle(x, y, width, height, layer,blockSnapSize,src,id) {
      let me = this;
      var objImagen = new Image();
      objImagen.src = src;
      x = x - (me.blockSnapSize/2);
      y = y - (me.blockSnapSize/2);
      x = Math.round( (x / me.blockSnapSize) * me.blockSnapSize);
      y = Math.round( (y / me.blockSnapSize) * me.blockSnapSize);
      me.token[me.token_index] = new Konva.Image({
        image: objImagen,
        x: x,
        y: y,
        width: width,
        height: height,
        name: 'rectangle',
        id: id
      });        
      me.token[me.token_index].position({ 
        x: Math.round( me.token[me.token_index].x() / me.blockSnapSize) * me.blockSnapSize,
        y: Math.round( me.token[me.token_index].y() / me.blockSnapSize) * me.blockSnapSize
      });
      console.log(me.token[me.token_index])
      me.stage.batchDraw();
      me.group.add(me.token[me.token_index]);       
      //me.token[me.token_index].zIndex(50000);   
      me.token[me.token_index].on("dragmove", e => {
      });
      me.token[me.token_index].on("dragend", e => {
        console.log(e)
        var id = e.target.id();
        var x = Math.round( e.target.x() / me.blockSnapSize) * me.blockSnapSize;
        var y = Math.round( e.target.y() / me.blockSnapSize) * me.blockSnapSize;
        var width = e.target.width();
        var height = e.target.height();
        e.target.position({ 
          x: Math.round( e.target.x() / me.blockSnapSize) * me.blockSnapSize,
          y: Math.round( e.target.y() / me.blockSnapSize) * me.blockSnapSize
        });
        console.log(id)
        axios.post('http://190.162.176.66:5002/api/v1.0/updateTokens',{
          'id'  : id,
          'x'  : x,
          'y'  : y,
          'width'  : width,
          'height'  : height,
        }).then((respuesta) =>{
           
        })
        .catch((error) =>{
          console.log(error);
        })
        
        me.stage.batchDraw();
      });
      me.token[me.token_index].on("transformstart", e => {
        me.stage.batchDraw();
      });
      me.token[me.token_index].on("transformend", e => {
        var id =e.target.id();
        var w = e.target.width() * e.target.scaleX();
        var h = e.target.height() * e.target.scaleY();
        e.target.width(Math.round(w / me.blockSnapSize) * me.blockSnapSize);
        e.target.height(Math.round(h / me.blockSnapSize) * me.blockSnapSize);
        e.target.scaleX(1);
        e.target.scaleY(1);
        console.log(e.target)
        axios.post('http://190.162.176.66:5002/api/v1.0/updateTokens',{
          'id'      : id,
          'x'       : e.target.x(),
          'y'       : e.target.y(),
          'width'   : e.target.width(),
          'height'  : e.target.height(),
        }).then((respuesta) =>{
           
        })
        .catch((error) =>{
          console.log(error);
        })
        me.stage.batchDraw();
      });
      me.token[me.token_index].on("transform", e => {
        me.stage.batchDraw();
      });     
      me.token_index++;
      me.stage.batchDraw();      
    },
    switchModeBoard(){
      let me = this;
      if(me.switchMap == 'fas fa-chess-pawn'){
        me.switchMap = 'fas fa-map'
        me.name_mode = 'map'
      }else{
        me.switchMap = 'fas fa-chess-pawn'
        me.name_mode = 'rectangle'
      }
      
    },
    use_tool(tool) {
      let me = this;
      me.tooltype = tool; //update
    },
    dragstart(i,scr_img,e){
      let me = this;
      me.itemURL = scr_img;
    },
    getTokens(){
      let me = this;
      axios.post('http://190.162.176.66:5002/api/v1.0/getTokens',{
        'id_board'  : 1,
      }).then((respuesta) =>{
        console.log(respuesta.data['token']) 
        for (let index = 0; index < respuesta.data['token'].length; index++) {
          var x = respuesta.data['token'][index]['x'];
          var y = respuesta.data['token'][index]['y'];
          var src = respuesta.data['token'][index]['src'];
          var id = respuesta.data['token'][index]['id_token'];
          var width = respuesta.data['token'][index]['width'];
          var height = respuesta.data['token'][index]['height'];
          me.newRectangle(x, y, width, height, me.layer,me.blockSnapSize,src,id)       
        }   
      })
      .catch((error) =>{
        console.log(error);
      })
    },
  },
  mounted() {
    let me = this;
    var width = 3590;
    var height = 1590;
    var shadowOffset = 20;
    var tween = null;
    //setting shadow from poligon
    me.createSquareGrid(width, height, me.blockSnapSize);
    //me.makeMistLayer();
    me.createMap(me.blockSnapSize)
    me.getTokens();
    window.addEventListener('keydown', (e) => {
      if (e.key == 'Delete') {
        me.id_token.destroy();
        me.stage.batchDraw();     
      } 
    });
    me.stage.batchDraw();
    this.$socket.emit('join', me.id_adventure);
  }
};
</script>
<style >
.theme--dark.v-icon {
  color: #f9f9f9 !important;
}
/* This is for documentation purposes and will not be needed in your application */
.v-speed-dial {
  position: fixed;
}
.v-btn--floating {
  position: relative;
}
.v-card > *:last-child:not(.v-btn):not(.v-chip) {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    background-color: var(--v-primary-base);
}
.test{
  filter:contrast(0.5)
}
.filepond--root {
    max-height: 27.5em!important;
}
.v-application .primary--text {
    color: var(--v-accent-base) !important;
    caret-color: var(--v-primary-base) !important;
}
.theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
    color:var(--v-accent-base)!important;
}
.theme--light.v-input:not(.v-input--is-disabled) input, .theme--light.v-input:not(.v-input--is-disabled) textarea {
    color: var(--v-accent-base)!important;
}
.v-chip:not(.v-chip--active) {
    background:var(--v-secondary-base)!important;
}
.v-chip {
    border-color: rgba(0, 0, 0, 0.12)!important;
    color: var(--v-accent-base)!important;
}
.v-list {
    color:var(--v-accent-base)!important;
}
#inputId:-webkit-autofill {
    background-color: white !important;
}
</style>