<template>
  <v-container class="grey lighten-5" style="width:100%; height:100%" fluid>
    <!-- CardView Para dibujar panel de Aventuras del GM --> 
    <v-row>
      <v-col cols="12" sm="4" v-for="(adventure,index) in adventures" :key="index">
          <v-card>
            <v-img
              :src="adventure.imagen_adventure"
              class="white--text align-end"
              gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
              height="200px"
            >
              <v-card-title text="Pre-fab homes"></v-card-title>
            </v-img>

            <v-card-actions color="accent" style="background-color:white"> 
              <v-spacer></v-spacer>

              <v-btn icon>
                <v-icon @click="switch_menu(adventure.id_adventure)">fas fa-play</v-icon>
              </v-btn>

              <v-btn icon>
                <v-icon @click="show_dialog_update_adventure(adventure)">fas fa-cog</v-icon>
              </v-btn>

              <v-btn icon>
                <v-icon @click="delete_adventure(adventure)">fas fa-trash-alt</v-icon>
              </v-btn>
            </v-card-actions>
          </v-card>
      </v-col>
    </v-row>
    <!-- Botton para Aventuras del GM --> 
    <v-btn bottom color="accent" fab fixed right @click="dialog = !dialog" class="mb-7 mr-2 white-text">
      <v-icon>fas fa-plus</v-icon>
    </v-btn>
    <!-- Dialog para agregar Aventuras del GM --> 
    <v-dialog v-model="dialog" scrollable max-width="800px">
        <v-card color="primary" class="accent--text">
          <v-card-title class="accent--text">New adventure</v-card-title>
          <v-divider></v-divider>
          <v-card-text id="style-1" class="mt-5">
            <v-form v-model="valid_create_gm_adventure" autocomplete="off">
              <v-row align="center" justify="center">
                <v-img
                  :src="scr_img"
                  lazy-src="https://www.ufo-spain.com/wp-content/uploads/2019/07/palacio-portada.jpg"
                  aspect-ratio="1"
                  class="grey lighten-2"
                  max-width="500"
                  max-height="250"
                ></v-img>
              </v-row>          
              <v-row class="mx-2">            
                <v-col class="align-center justify-space-between" cols="12">
                  <v-row align="center" class="mr-0">
                    <v-text-field
                      prepend-icon="far fa-image"
                      placeholder="Title of your adventure"
                      color="secondary"
                      v-model="scr_img"
                    />
                  </v-row> 
                </v-col>
              </v-row>
              <v-row class="mx-2">            
                <v-col class="align-center justify-space-between" cols="12">
                  <v-row align="center" class="mr-0">
                    <v-text-field
                      prepend-icon="fas fa-hat-wizard"
                      label="Title of your adventure"
                      color="secondary"
                      required
                      v-model="title_adventure"
                      :rules="TitleRules"
                    />
                  </v-row>
                </v-col>
              </v-row>
              <v-row class="mx-2">            
                <v-col class="align-center justify-space-between" cols="12">
                  <v-row align="center" class="mr-0">
                    <v-text-field
                      prepend-icon="far fa-image"
                      label="Password join adventure"
                      color="secondary"
                      required
                      :rules="passRules"
                      v-model="password_join_adventure"
                    />
                  </v-row> 
                </v-col>
              </v-row>
            </v-form>
          </v-card-text>
          <v-divider></v-divider>
         <v-card-actions class="primary">
          <v-spacer />
          <v-btn text color="secondary" @click="dialog=false">Cancel</v-btn>
          <v-btn text color="secondary" @click="insert_gm_adventure()">Save</v-btn>
        </v-card-actions>
        </v-card>
    </v-dialog>
    <!-- Dialog para modificar Aventuras del GM -->
    <v-dialog v-model="dialog_update_adventure" scrollable max-width="800px">
        <v-card color="primary" class="accent--text">
          <v-card-title class="accent--text">Settings adventure</v-card-title>
          <v-divider></v-divider>
          <v-card-text id="style-1" class="mt-5">
            <v-form v-model="valid_create_gm_adventure" autocomplete="off">
              <v-row align="center" justify="center">
                <v-img
                  :src="update_scr_img"
                  lazy-src="https://www.ufo-spain.com/wp-content/uploads/2019/07/palacio-portada.jpg"
                  aspect-ratio="1"
                  class="grey lighten-2"
                  max-width="500"
                  max-height="250"
                ></v-img>
              </v-row>          
              <v-row class="mx-2">            
                <v-col class="align-center justify-space-between" cols="12">
                  <v-row align="center" class="mr-0">
                    <v-text-field
                      prepend-icon="far fa-image"
                      placeholder="Title of your adventure"
                      color="secondary"
                      v-model="update_scr_img"
                    />
                  </v-row> 
                </v-col>
              </v-row>
              <v-row class="mx-2">            
                <v-col class="align-center justify-space-between" cols="12">
                  <v-row align="center" class="mr-0">
                    <v-text-field
                      prepend-icon="fas fa-hat-wizard"
                      label="Title of your adventure"
                      color="secondary"
                      required
                      v-model="update_title_adventure"
                      :rules="TitleRules"
                    />
                  </v-row>
                </v-col>
              </v-row>
              <v-row class="mx-2">            
                <v-col class="align-center justify-space-between" cols="12">
                  <v-row align="center" class="mr-0">
                    <v-text-field
                      prepend-icon="far fa-image"
                      label="Password join adventure"
                      color="secondary"
                      required
                      :rules="passRules"
                      v-model="update_password_join_adventure"
                    />
                  </v-row> 
                </v-col>
              </v-row>
            </v-form>
          </v-card-text>
          <v-divider></v-divider>
         <v-card-actions class="primary">
          <v-spacer />
          <v-btn text color="secondary" @click="dialog_update_adventure=false">Cancel</v-btn>
          <v-btn text color="secondary" @click="update_gm_adventure()">Save</v-btn>
        </v-card-actions>
        </v-card>
    </v-dialog>
  </v-container>
</template>
<script>
import axios from "axios"; 
import Swal from 'sweetalert2'
  export default {
    name: 'MyAdventures',
    props: ['idusuario'],
    data: function () {
      return{
      id_user: this.idusuario,  
      adventures: {},
      dialog: false,
      dialog_update_adventure: false,
      valid_create_gm_adventure: false,
      scr_img: 'https://www.ufo-spain.com/wp-content/uploads/2019/07/palacio-portada.jpg',
      password_join_adventure: '',  
      title_adventure: '',    
      TitleRules: [v => !!v || "Title is required"],
      passRules: [v => !!v || "Password is required",v => v.length >= 6 || "Password must be more than 6 characters"],
      update_scr_img: '',
      update_title_adventure: '',
      update_password_join_adventure: '',
      id_adventure_update: null
      }
    },
    methods:{
      switch_menu(id_adventure){
        window.event.$emit('switch_menu',2,id_adventure);
      },
      insert_gm_adventure(){
        let me = this;
        if(me.valid_create_gm_adventure){
          axios.post('http://190.162.176.66:5002/api/v1.0/createAdventureMaster',{
            'scr_img'  : me.scr_img,
            'title'    : me.title_adventure,
            'password' : me.password_join_adventure,
            'id_user'  : me.id_user,
          }).then((respuesta) =>{
            console.log(respuesta.data);
            me.scr_img = 'https://www.ufo-spain.com/wp-content/uploads/2019/07/palacio-portada.jpg';
            me.title_adventure = null;
            me.password_join_adventure =null;
            me.dialog = false;
            me.get_gm_adventure();
          })
          .catch((error) =>{
            console.log(error);
          })
        }else{
          me.title_adventure = '';
        }
      },
      get_gm_adventure(){
        let me = this;
        axios.post('http://190.162.176.66:5002/api/v1.0/getAdventureMaster',{
          'id_user'  : me.id_user,
        }).then((respuesta) =>{
          console.log(respuesta)
          me.adventures = respuesta.data.Adventure
        })
        .catch((error) =>{
          console.log(error);
        })
      },
      show_dialog_update_adventure(adventure){
        let me = this;
        me.update_scr_img = adventure.imagen_adventure;
        me.update_title_adventure = adventure.name_adventure;
        me.update_password_join_adventure = adventure.password_adventure;
        me.id_adventure_update = adventure.id_adventure; 
        me.dialog_update_adventure = true;
      },
      update_gm_adventure(){
        let me = this;
        if(me.valid_create_gm_adventure){
          axios.post('http://190.162.176.66:5002/api/v1.0/updateAdventureMaster',{
            'scr_img'       : me.update_scr_img,
            'title'         : me.update_title_adventure,
            'password'      : me.update_password_join_adventure,
            'id_adventure'  : me.id_adventure_update,
          }).then((respuesta) =>{
            me.update_scr_img                 = null;
            me.update_title_adventure         = null;
            me.update_password_join_adventure = null;
            me.id_adventure_update            = null;
            me.dialog_update_adventure        = false;
            me.get_gm_adventure();
          })
          .catch((error) =>{
            console.log(error);
          })
        }else{
          me.title_adventure = '';
        }
      },
      delete_adventure(adventure){
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: 'var(--v-secondary-base)',
          cancelButtonColor: 'var(--v-secondary-base)',
          confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
          if (result.value) {
            axios.post('http://190.162.176.66:5002/api/v1.0/deleteAdventureMaster',{
              'id_adventure'  : adventure.id_adventure,
            }).then((respuesta) =>{              
              Swal.fire(
                'Deleted!',
                'Your file has been deleted.',
                'success'
              )
            })
            .catch((error) =>{
              console.log(error);
            })
          }
        })
      }
    },
    created: function (){
      let me = this;
      me.get_gm_adventure();
    }
  }
</script>
<style>
.theme--light.v-icon {
    color: var(--v-secondary-base) !important;
}
.theme--dark.v-icon {
    color: var(--v-secondary-base) !important;
}
.theme--light.v-card {
    color: black !important;
}
.theme--dark.v-card {
    color: white !important;
}
.theme--light.v-input:not(.v-input--is-disabled) input, .theme--light.v-input:not(.v-input--is-disabled) textarea {
    color: var(--v-secondary-base) !important;
}
.v-application .grey.lighten-5 {
    background-color: #fafafa00 !important;
    border-color: #fafafa !important;
    height: -webkit-fill-available;
}
.v-card > *:last-child:not(.v-btn):not(.v-chip) {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}
#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: var(--v-primary-base) !important;
}
#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px var(--v-secondary-base) !important;
  box-shadow: inset 0 0 6px var(--v-secondary-base) !important;
	background-color: var(--v-secondary-base) !important;
}
</style>>