<template>
  <router-view/>
</template>

<script>
export default {
  name: 'App',
  data: () => ({
   
  }),
};
</script>

<style>
  /*Theme Light Css */
  .theme--light.v-icon {
      color: var(--v-secondary-base) !important;
  }
  .theme--light.v-input:not(.v-input--is-disabled) input, .theme--light.v-input:not(.v-input--is-disabled) textarea {
      color: var(--v-secondary-base) !important;
  }
  .theme--light.v-label {
      color:  var(--v-secondary-base) !important;
  }  
  .theme--light.v-input:not(.v-input--is-disabled) input{
    color:var(--v-accent-base) !important;
  }
  .theme--light.v-navigation-drawer {
    background-color: var(--v-primary-base) !important;
  }
  .theme--light.v-toolbar__title {
    color:var(--v-accent-base) !important;
  }
  .theme--light.v-text-field > .v-input__control > .v-input__slot:before {
    border-color: var(--v-secondary-base) !important;
  }
  /*Theme Dark Css*/
  .theme--dark.v-icon {
      color: var(--v-secondary-base) !important;
  }
  .theme--dark.v-input:not(.v-input--is-disabled) input, .theme--dark.v-input:not(.v-input--is-disabled) textarea {
      color: var(--v-secondary-base) !important;
  }
  .theme--dark.v-label {
      color:  var(--v-secondary-base) !important;
  }  
  .theme--dark.v-input:not(.v-input--is-disabled) input{
    color:var(--v-accent-base) !important;
  }  
  .theme--dark.v-text-field > .v-input__control > .v-input__slot:before {
    border-color: var(--v-secondary-base) !important;
  }
  .v-list-item--dense .v-list-item__title, .v-list-item--dense .v-list-item__subtitle, .v-list--dense .v-list-item .v-list-item__title, .v-list--dense .v-list-item .v-list-item__subtitle {
    color: white;
  } 
  /*General Css */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
  }
  input:-webkit-autofill {
      background-color:var(--v-accent-base) !important;
  }
  #style-1::-webkit-scrollbar
  {
    width: 12px;
    background-color: #F5F5F5;
  }
  #style-1::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
  }
</style>
